<template>
  <div id="app">
      <form-component></form-component>
      <list-clients></list-clients>
  </div>
</template>

<script>
import formComponent from './components/FormComponent.vue'
import ListClients from './components/ListClients.vue'

export default {

  name: 'app',
  components: {
      formComponent,
      ListClients
  },
  created() {
  },
  mounted(){
  },
  methods: {
  },
  data () {
    return {
    }
  },

}


</script>
<style>
 #app {
     background-color: green;
     margin: auto;
     padding: 10px -20px 0 20px;
 }
</style>
