<template>
    <div class="container">
        <form novalidate class="md-layout" @submit.prevent="validateUser">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Add client</div>
                </md-card-header>

                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('name')">
                                <label for="name">Name</label>
                                <md-input name="name" id="name" autocomplete="name" v-model="form.name" :disabled="sending" />
                                <span class="md-error" v-if="!$v.form.name.required">The name is required</span>
                                <span class="md-error" v-else-if="!$v.form.name.minLength">Invalid name</span>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('phone')">
                                <label for="phone">Phone</label>
                                <md-input type="tel" name="phone" id="phone" autocomplete="phone" v-model="form.phone" v-mask="'+#(###) ###-##-##'" :disabled="sending" />
                                <span class="md-error" v-if="!$v.form.phone.required">The phone is required</span>
                                <span class="md-error" v-else-if="!$v.form.phone.minLength">Invalid phone</span>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('birthdate')">
                                <md-datepicker id="birthdate" v-model="form.birthdate">
                                    <label>Select birth date</label>
                                </md-datepicker>
                                <span class="md-error">Birth date is required</span>
                            </md-field>
                        </div>

                    </div>

                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="sending" />

                <md-card-actions>
                    <md-button type="submit" class="md-primary" :disabled="sending">Create client</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</template>

<script>

    import { validationMixin } from 'vuelidate';
    import {
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators';

export default {
    name: 'FormComponent',
    mixins: [validationMixin],
    mounted(){
    },
    validations: {
        form: {
            name: {
                required,
                minLength: minLength(3)
            },
            phone: {
                required,
                minLength: minLength(17)
            },
            birthdate: {
                required
            }
        }
    },
    methods: {
        getValidationClass (fieldName) {
            const field = this.$v.form[fieldName]

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                }
            }
        },
        clearForm () {
            this.$v.$reset()
            this.form.name = null
            this.form.phone = null
            this.form.birthdate = null
        },
        saveUser () {
            this.sending = true

            // Instead of this timeout, here you can call your API
            axios.post('/api/clients/save', this.form)
                .then(response => {
                    this.$root.$emit('update');
                    this.userSaved = true
                    this.sending = false
                    this.clearForm()
                })
                .catch(response => {
                    console.log(response);
                    this.userSaved = false
                    this.sending = false
                });
        },
        validateUser () {
            this.$v.$touch()

            if (!this.$v.$invalid) {
                this.saveUser()
            }
        }
    },
    data: () => ({
        form: {
            name: null,
            phone: null,
            birthdate: null,
        },
        userSaved: false,
        sending: false,
    }),
}
</script>

<style scoped>
.container {
    padding: 20px;
}
</style>
