<template>
    <div id="ListClients" class="container">
        <div v-if="!listClients.length">Clients list is empty</div>
        <div v-else>
            <md-table v-model="listClients" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                <md-table-toolbar>
                    <h1 class="md-title">Clients</h1>
                </md-table-toolbar>

                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="Phone" md-sort-by="phone">{{ item.phone }}</md-table-cell>
                    <md-table-cell md-label="Birth date">{{ item.birthdate }}</md-table-cell>
                </md-table-row>
            </md-table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ListClients',
    mounted(){
        this.$root.$on('update', () => (this.update()));
    },
    methods: {
        update () {
            axios
                .get('/api/clients/get')
                .then(response => (this.listClients = response.data));
        }
    },
    data () {
        return {
            listClients: []
        }
    },

}
</script>

<style>
</style>
